header {
  font-size: 2rem;
  font-weight: 300;
}

.crawl-feed {
  background-color: #080808;
  color: #f8f8f8;
  font-size: 2rem;
  padding-left: 100%;
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 4rem;
}

.crawl {
  display: inline-block;
  padding-right: 100%;
  white-space: nowrap;
  animation: crawl 20s linear infinite;
  height: 4rem;
  line-height: 4rem;
}

.crawl-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
}

@keyframes crawl {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  font-size: 1.25 rem;
}
